.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}
.form {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 250px;
}
.form  p{
    font-size: 13px;
    color: #f7f7f7;
    font-weight: 600;
    margin: 1em;
}
.form h2 {
    font-size: 20px;
    color: #f7f7f7;
}
.label {
    border-radius: 10px;
    border: solid 1px #f7f7f7;
    margin: 1em 0;
    width: 100%;
    padding-left: 10px;
}
.label span {
    font-size: 13px;

    color: #f7f7f7;
}
.label input {
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #f7f7f7;
}
.form button {
    width: 100%;
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
    border: none;
    background-color:#38b6ff;
    color: #f7f7f7;
    cursor: pointer;
    border-radius: 10px;
}
.form a {
    color: #38b6ff !important;
    text-decoration: underline !important;
    font-size: 12px;
}
