.container {
    padding: 10px;
    text-align: start;
    display: flex;
    align-items: center;

    flex-direction: column;
    min-height: 70vh;
}

.container h1 {
    font-size: 24px;
    color: #f7f7f7;
    margin: 10px;
}

.topContainer {
    padding: 10px;
    display: flex;
    align-items: center;
    width: 73%;
    gap: 30px;
    flex-direction: row;
}

.semVacinas {
    width: 100%;
    margin-top: 1em;
    font-size: 13px;
    color: #f7f7f7;
    text-align: center;
    align-self: center;
}

.profileInput {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reloadBtn button {
    background-color:#38b6ff;
    cursor: pointer;
    color: #f7f7f7;
    border: none;
    padding: 10px;
    font-size: 13px;
    border-radius: 10px;
}

.reloadBtn button:hover {
    background-color: #2e95d1;
}
.reloadBtn{
    width: 73%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.reloadBtn svg{
    font-size: 20px;
    background-color: #1a478a;
    padding: 8px;
    border-radius: 5px;
    color: #f7f7f7;
    cursor: pointer;
}
.reloadBtn svg:hover{
    background-color: #2159ad;
}
.select {
    background-color: #1a478a;
    color: #f7f7f7;
    outline: none;
    border: none;
    height: 40px;
    width: 140px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.topContainer img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.vaccines {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 2em;
    justify-content: center;
}

@media (max-width: 900px) {
    .vaccines {
        grid-template-columns: repeat(2, 1fr);
    }

    .container {
        align-items: start;
    }
    .reloadBtn{
        margin: 10px;

    }

}

@media (max-width: 600px) {
    .vaccines {
        grid-template-columns: 1fr;
    }
    .topContainer{
        gap: 10px;
    }
    

}

.card {
    transition: transform 0.3s ease-in-out;
}
